<h1>Home</h1>
<div id="highfield-carousel" class="carousel slide" style="width: 35%; margin: 0 auto" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#highfield-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#highfield-carousel" data-slide-to="1"></li>
    <li data-target="#highfield-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <div class="center">
      <%= image_tag("NK.jpg", size: "400x300") %>
    </div>
    </div>
    <div class="item">
    <div class="center">
      <%= image_tag("NK2.jpg", size: "400x300") %>
    </div>
    </div>
    <div class="item">
    <div class="center">
      <%= image_tag("NK4.jpg", size: "400x300" ) %>
    </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#highfield-carousel" role="button" data-slide="prev"></a>
  <a class="right carousel-control" href="#highfield-carousel" role="button" data-slide="next"></a>
</div>
