@import 'bootstrap';

body {
    margin: 0;
    padding: 0;
    background:#4C9BCD;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

h1 {
    text-align:center;
}

.foot {
    width:120px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#carousel-inner {
    height:250px;
}

#highfield-carousel {
    width:35%; 
    margin:0 auto;
}

#fb-logo {
    width:40px;
    float:left;
    margin-left: auto;
    margin-right:20px;
    text-align:center;
}

#ctmm-logo {
    width:60px;
    float:left;
}
