// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background:#4C9BCD url(images/img01.jpg) repeat-x left top;
    background-size: 100%;
}

h1{
    text-align:center;
}

