@import 'bootstrap';

body {
    margin: 0;
    padding: 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
h1 {
    font-size:72px;
    text-align:center;
}
h2 {
    text-align:center;
}
.active {
    text-decoration: underline;
}
.ext-links {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    width:300px;
    height:60px;
}
.home {
    position: absolute;
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.home1 {
    position: absolute;
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.home2 {
    padding-top:5px;
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.image-NK {
}
.overlay-text {
    width: 220px;
    height: 175px;
    position: absolute;
    top: 40px;
    left: 400px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
.image-NK2 {
}
.image-NK4 {
}
.overlay-music {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 290px;
    left: 165px;
    color: white;
    font-size: 24px;
    z-index: 10;
}
.nav{
    font-size:30px;
    text-align:center;
}
.square-logo {
    width:40px;
    float:left;
    margin-left: auto;
    margin-right:20px;
    text-align:center;
}
.ctmm-logo {
    width:60px;
    float:left;
}
