<!DOCTYPE html>
<html>
<div class=foot>
<br>
<br>
    <div id="fb-logo">
    <br>
    <%= link_to image_tag("fb_logo.png", size: "40x40"), "https://www.facebook.com/pages/The-Highfields/614581685257125" %>
    </div>
    <div id="ctmm-logo">
    <%= link_to image_tag("catch_the_moon_music_logo.png", size: "60x60"), "http://catchthemoonmusic.com/artists/the-highfields/" %>
    </div>
</div>
</html>
