<br>
<br>
<div class="center">
    <%= image_tag("fb_logo.png", size: "40x40") %>
    <%= image_tag("twitter_logo.png", size: "40x40") %>
    <%= image_tag("instagram_logo.png", size: "40x40") %>
    <%= image_tag("blogger_logo.png", size: "40x40") %>
</div>
